header ul {
    display: flex;
    list-style: nine;
}

header ul a{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    }


    section{
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 1000px;
    }

    #article-list{
        margin-top: 50px;
        background-color: #fff;
    }

    #article-list div {
        padding: 30px 10px;
    }

    #article-list div h3{
        padding: 20px;
    }

    #article-list div p{
        padding-bottom: ;
        border-bottom: 1px solid rgb(132,130,130);

    }
